* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    margin-top: 20px;
    border: 2px dotted black;
    border-radius: 10px;
}
#addBtn{
    margin-bottom: 20px;
}       