* {
    font-family: -apple-system;
}

.img-search {
    height: 25px;
}
body{
    background-color: #82A3A1;
}
.innerDiv {
    /* border: 2px solid black;  */
    background-color: #9FC490;
    border-radius: 10px;
}

.weather_img {
    max-width: 150px;
    height: auto;
}

.card {
    border: none !important;
    background-color: #C0DFA1 !important;
    border-radius: 10px !important;
}

.h-center {
    justify-content: center;
    align-items: center;
}

.small-temp {
    height: 120px;
}