@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.container {
  width: 360px;
  padding: 25px;
  border-radius: 20px;

  /* Glassmorphism */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

  animation: fadeIn 0.8s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(15px);}
  to {opacity: 1; transform: translateY(0);}
}

.container h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
  color: #fff;
}

.box label {
  font-size: 14px;
  font-weight: 500;
  color: #f2f2f2;
  margin-bottom: 5px;
  display: block;
}

.box input,
.box select {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  border-radius: 10px;
  border: none;

  background: rgba(255, 255, 255, 0.3);
  color: #fff;

  outline: none;
  transition: 0.3s;
}

.box input::placeholder {
  color: #e9e9e9;
}

.box input:focus,
.box select:focus {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.03);
}

.grid {
  display: flex;
  gap: 15px;
}

button {
  width: 100%;
  padding: 14px;
  background: #fff;
  color: #0077ff;
  border: none;
  margin-top: 15px;

  font-size: 17px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;

  transition: 0.3s;
}

button:hover {
  background: #e1e1e1;
  transform: scale(1.03);
}

#result {
  margin-top: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
